@{
	ViewData["Title"] = "Profile";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<Caterers.Models.Menu>

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Food List</h1>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">

					<!-- /.card-header -->
					<div class="card-body">
						<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
							<div class="row">
								<div class="col-sm-12 col-md-6"></div>
								<div class="col-sm-12 col-md-6"></div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table id="example2" class="table table-bordered table-hover dataTable dtr-inline"
										   aria-describedby="example2_info">
										<thead>
											<tr>
												<th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
													aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
													ID
												</th>
												<th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
													aria-label="Browser: activate to sort column ascending">Title</th>
												<th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
													aria-label="Platform(s): activate to sort column ascending">Description</th>
												<th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
													aria-label="Engine version: activate to sort column ascending">Price</th>
												<th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending">Caterer Name</th>
												<th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending">Image</th>
												<th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
													aria-label="CSS grade: activate to sort column ascending">Action</th>
											</tr>
										</thead>
										<tbody>

											@foreach (var menu in Model)
											{
												<tr>
													<td>@menu.Id</td>
													<td>@menu.Title</td>
													<td>@menu.Description</td>
													<td>@menu.Price</td>
													<td>@menu.Caterer.Name</td>
													<td>
														@if (!string.IsNullOrEmpty(menu.Image))
														{
															<img src="~/images/@menu.Image" alt="Menu Image" style="width: 80px; height: 80px;" />
														}
													</td>
													<td>
														<a asp-action="Edit" asp-route-id="@menu.Id">Edit</a> |

														<a asp-action="Delete" asp-route-id="@menu.Id" onclick="return confirm('Are you sure you want to delete this menu?')">Delete</a>
													</td>
												</tr>
											}
										</tbody>

									</table>
								</div>
							</div>

						</div>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>