@{
	ViewData["Title"] = "Profile";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model Caterers.Models.Message

@{
	ViewData["Title"] = "Message Details";
}

<h1>Message Details</h1>

<div>
	<h4>Message</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Sender
		</dt>
		<dd class="col-sm-10">
			@Model.Sender?.Username
		</dd>
		<dt class="col-sm-2">
			Recipient
		</dt>
		<dd class="col-sm-10">
			@Model.Recipient?.Username
		</dd>
		<dt class="col-sm-2">
			Content
		</dt>
		<dd class="col-sm-10">
			@Model.Content
		</dd>
		<dt class="col-sm-2">
			Sent
		</dt>
		<dd class="col-sm-10">
			@Model.SentDatetime?.ToString("g")
		</dd>
		<dt class="col-sm-2">
			Read
		</dt>
		<dd class="col-sm-10">
			@(Model.IsRead.HasValue && Model.IsRead.Value ? "Yes" : "No")
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
	<a asp-action="Index">Back to List</a>
</div>